.button {
	background-color: var(--primary-color);
	border-radius: 30px;
	text-align: center;
	border: none;
	color: white;
	display: flex;
	align-items: center;
	margin: auto;
	padding: 10px 20px;
	cursor: pointer;
}

.button:hover {
	background-color: #A45621;
}

.button img {
	margin-right: 20px;
}