a {
  color: black;
  text-decoration: none;
}

.container {
  margin-left: 330px;
  padding-top: 30px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

h2 {
  font-size: 40px;
  font-family: serif;
  margin-bottom: 10px;
}

h3 {
  font-weight: normal;
}

.h3-container {
  display: flex;
}

.h3-container img {
    margin-right: 10px;
    width: 60px;
}

body {
  --primary-color: #d6693b;
  --primary-color-light: #FFF2E3;
  --primary-color-hover: #be5427;
  --secondary-color: #839980;
  --secondary-color-light: #EDF1EB;
  --secondary-color-hover: #cedac8;
  --small-font-size: 14px;
}
